[submodule "third_party/nccl"]
	path = third_party/nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "nccl_ep/third_party/googletest"]
	path = nccl_ep/third_party/googletest
	url = https://github.com/google/googletest.git
